:root {
  --border-radius: 4px;
  --border-table-size: 2px;
  --border-table-color: white;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
  background-color: #191f24;
}

::-webkit-scrollbar-track {
  background-color: #191f24;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
}

/* Rest Of Styling */
body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #191f24 100%);
  position: relative;
}

footer {
  text-align: center;
  background: black;
  padding: 2rem;
}

h1 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 60px;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

* {
  padding: 0;
  margin: 0;
  color: rgb(242, 242, 242);
  outline: none;
  font: 16px "arial";
}

#root {
  padding: 20px 10px;
}

p {
  margin: 14px 0;
}

.card {
  border-radius: var(--border-radius);
  text-align: center;
  width: 520px;
  height: 100%;
  /* padding: 25px 8px; */
  margin: auto;
}

.name-shoe {
  font: bold 1rem Verdana;
  margin-bottom: 30px;
}

.image-shoe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.container-img {
  border-radius: var(--border-radius);
  width: 80%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.container-img:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.table-information {
  margin: 15px auto 0 auto;
  width: 80%;
  border-spacing: 0;
}

.table-information tr td {
  padding: 10px 0;
  border-bottom: var(--border-table-size) solid var(--border-table-color);
  border-right: var(--border-table-size) solid var(--border-table-color);
}

.table-information tr td:first-child {
  border-left: var(--border-table-size) solid var(--border-table-color);
}

.table-information tr:first-child td {
  border-top: var(--border-table-size) solid var(--border-table-color);
}

.table-information tr:first-child td:first-child {
  border-top-left-radius: var(--border-radius);
}

.table-information tr:first-child td:last-child {
  border-top-right-radius: var(--border-radius);
}

.table-information tr:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius);
}

.table-information tr:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius);
}

/* .table-body */

.btn {
  background: rgb(0, 0, 0);
  border: none;
  border-radius: var(--border-radius);
  padding: 5px;
  width: 80%;
  margin-top: 8px;
  height: 38px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  filter: brightness(130%);
}

.table-hidden {
  display: none;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.container-cards > .card {
  margin-bottom: 30px;
}

/* stars styles */

#stars-container {
  position: sticky;
  top: 0;
  height: 150vh;
  width: 100%;
  overflow: hidden;
  -webkit-transform: translate(-50, -50%);
  -ms-transform: translate(-50, -50%);
  -o-transform: translate(-50, -50%);
  transform: translate(-50, -50%);
}

#stars-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
