#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 1628px 1930px #fff, 2952px 252px #fff, 3690px 218px #fff,
    906px 4826px #fff, 2142px 1363px #fff, 3955px 1106px #fff,
    3477px 2584px #fff, 1246px 976px #fff, 4443px 4765px #fff, 1354px 922px #fff,
    2066px 4655px #fff, 1042px 4387px #fff, 98px 4603px #fff, 4259px 4566px #fff,
    3186px 490px #fff, 3748px 4228px #fff, 4045px 4573px #fff,
    2920px 1915px #fff, 2959px 1375px #fff, 3089px 1349px #fff,
    2380px 2737px #fff, 3189px 4332px #fff, 4409px 799px #fff, 501px 2761px #fff,
    3386px 668px #fff, 755px 2209px #fff, 1265px 3562px #fff, 3747px 2917px #fff,
    3367px 3317px #fff, 4916px 2724px #fff, 3879px 3744px #fff,
    4715px 117px #fff, 2108px 4098px #fff, 1223px 3377px #fff, 762px 1696px #fff,
    4780px 3955px #fff, 651px 3920px #fff, 2738px 4280px #fff,
    4994px 1167px #fff, 1639px 3933px #fff, 402px 4794px #fff, 3493px 703px #fff,
    4007px 4358px #fff, 418px 4920px #fff, 454px 1844px #fff, 3210px 2166px #fff,
    3576px 1592px #fff, 2824px 690px #fff, 4800px 2220px #fff,
    2265px 2857px #fff, 4612px 884px #fff, 2673px 1504px #fff, 409px 728px #fff,
    3555px 1435px #fff, 1298px 2264px #fff, 2931px 539px #fff, 680px 2703px #fff,
    4169px 4949px #fff, 3841px 9px #fff, 2424px 4400px #fff, 1123px 3711px #fff,
    425px 3602px #fff, 97px 3041px #fff, 3165px 4754px #fff, 4741px 4361px #fff,
    3934px 3239px #fff, 3058px 994px #fff, 3463px 1332px #fff,
    1647px 2615px #fff, 2240px 1106px #fff, 2093px 1415px #fff,
    4826px 4228px #fff, 1965px 1612px #fff, 2289px 4452px #fff,
    780px 4766px #fff, 2528px 295px #fff, 2258px 1999px #fff, 246px 3005px #fff,
    187px 2825px #fff, 2638px 4136px #fff, 4767px 3229px #fff,
    4748px 3458px #fff, 676px 3742px #fff, 1862px 446px #fff, 4387px 3667px #fff,
    4796px 209px #fff, 152px 4206px #fff, 3377px 3828px #fff, 287px 2627px #fff,
    1534px 4618px #fff, 3810px 115px #fff, 1642px 3744px #fff,
    1207px 1517px #fff, 2334px 695px #fff, 4141px 2362px #fff,
    2939px 1906px #fff, 1366px 644px #fff, 373px 4034px #fff, 1689px 3212px #fff,
    4996px 2728px #fff, 4073px 2847px #fff, 3646px 2872px #fff,
    2569px 1034px #fff, 3471px 2918px #fff, 3272px 4994px #fff,
    3727px 2337px #fff, 1448px 2405px #fff, 2997px 1764px #fff, 747px 893px #fff,
    1726px 3080px #fff, 256px 996px #fff, 2510px 3328px #fff, 3470px 3813px #fff,
    1322px 1076px #fff, 3082px 3151px #fff, 4720px 4406px #fff,
    4813px 2421px #fff, 511px 1595px #fff, 3420px 3993px #fff,
    2299px 2555px #fff, 801px 615px #fff, 4157px 305px #fff, 4618px 1670px #fff,
    1955px 301px #fff, 2371px 3838px #fff, 2437px 1676px #fff, 2854px 545px #fff,
    2745px 4819px #fff, 4358px 4667px #fff, 395px 4389px #fff,
    4198px 3125px #fff, 421px 458px #fff, 1154px 2929px #fff, 2908px 858px #fff,
    4100px 1219px #fff, 4774px 3041px #fff, 1192px 1588px #fff,
    2245px 4749px #fff, 3042px 343px #fff, 4953px 174px #fff, 1412px 4899px #fff,
    2397px 2278px #fff, 4069px 3049px #fff, 3162px 906px #fff, 647px 1961px #fff,
    3147px 935px #fff, 2582px 1691px #fff, 1556px 2055px #fff,
    3321px 2574px #fff, 370px 3128px #fff, 839px 2955px #fff, 2706px 777px #fff,
    1778px 15px #fff, 956px 2210px #fff, 88px 2104px #fff, 3242px 3507px #fff,
    219px 3706px #fff, 2093px 4567px #fff, 4907px 1567px #fff,
    1606px 3172px #fff, 4224px 1102px #fff, 2501px 4764px #fff,
    4525px 4078px #fff, 916px 1623px #fff, 2946px 89px #fff, 1959px 4400px #fff,
    2490px 2574px #fff, 2556px 2765px #fff, 2389px 2272px #fff,
    4464px 1207px #fff, 4098px 3406px #fff, 4574px 1814px #fff,
    3887px 3418px #fff, 3425px 4610px #fff, 669px 423px #fff, 3743px 3374px #fff,
    450px 4846px #fff, 4921px 3935px #fff, 3535px 3104px #fff, 912px 4064px #fff,
    3674px 4574px #fff, 4102px 3869px #fff, 4028px 4772px #fff,
    4935px 2356px #fff, 3819px 3549px #fff, 4117px 696px #fff, 798px 4939px #fff,
    252px 4805px #fff, 3412px 2559px #fff, 4638px 1725px #fff,
    3313px 3742px #fff, 4884px 4845px #fff, 1825px 1986px #fff,
    2525px 4191px #fff, 2276px 3653px #fff, 1250px 137px #fff,
    1975px 3169px #fff, 917px 3518px #fff, 3013px 2745px #fff, 2357px 829px #fff,
    3249px 537px #fff, 1389px 3477px #fff, 2037px 442px #fff, 4760px 1468px #fff,
    4868px 1382px #fff, 3129px 3484px #fff, 4720px 3000px #fff,
    1855px 2864px #fff, 154px 3205px #fff, 1676px 289px #fff, 4840px 3699px #fff,
    720px 1522px #fff, 2590px 4147px #fff, 3285px 342px #fff, 4991px 2923px #fff,
    4308px 2628px #fff, 3278px 4463px #fff, 3779px 4946px #fff,
    1363px 136px #fff, 2118px 3432px #fff, 2393px 86px #fff, 4190px 312px #fff,
    2973px 2806px #fff, 2618px 1584px #fff, 2069px 1546px #fff,
    2104px 4820px #fff, 4391px 2276px #fff, 1375px 472px #fff, 4379px 112px #fff,
    1344px 2394px #fff, 1644px 2215px #fff, 430px 722px #fff, 1060px 1619px #fff,
    3823px 1976px #fff, 299px 4159px #fff, 4426px 2713px #fff,
    1675px 1375px #fff, 4430px 1626px #fff, 3542px 1863px #fff,
    1653px 2691px #fff, 4289px 3901px #fff, 4600px 4789px #fff,
    1383px 1615px #fff, 3627px 2685px #fff, 557px 4587px #fff,
    3403px 3419px #fff, 2162px 4366px #fff, 4086px 615px #fff, 711px 1436px #fff,
    3985px 1910px #fff, 1759px 4115px #fff, 4348px 4704px #fff,
    3363px 4176px #fff, 4913px 1515px #fff, 4813px 3570px #fff,
    4961px 3936px #fff, 1280px 4597px #fff, 2779px 1691px #fff,
    3305px 1828px #fff, 2530px 1562px #fff, 36px 382px #fff, 3388px 260px #fff,
    4842px 4678px #fff, 3828px 3079px #fff, 23px 3070px #fff, 1809px 593px #fff,
    4596px 191px #fff, 4726px 11px #fff, 2853px 4209px #fff, 3993px 2110px #fff,
    3755px 1354px #fff, 3322px 4903px #fff, 3215px 1223px #fff, 4038px 92px #fff,
    327px 918px #fff, 428px 1265px #fff, 4577px 2742px #fff, 906px 1508px #fff,
    2584px 4624px #fff, 3876px 4937px #fff, 1175px 3508px #fff,
    3204px 2162px #fff, 3691px 2696px #fff, 4506px 3778px #fff,
    1871px 322px #fff, 3598px 754px #fff, 3850px 3175px #fff, 2228px 3986px #fff,
    2108px 52px #fff, 4440px 254px #fff, 4834px 1526px #fff, 1304px 3306px #fff,
    3754px 1494px #fff, 4806px 1013px #fff, 3912px 1620px #fff,
    4374px 1185px #fff, 4587px 3374px #fff, 3666px 226px #fff, 147px 1707px #fff,
    1948px 4478px #fff, 4229px 4694px #fff, 523px 3321px #fff,
    3647px 4476px #fff, 1829px 2371px #fff, 480px 3733px #fff, 571px 4859px #fff,
    4811px 4511px #fff, 723px 2927px #fff, 1619px 4575px #fff,
    2981px 4314px #fff, 2046px 2542px #fff, 2859px 474px #fff,
    3198px 1982px #fff, 3788px 387px #fff, 1621px 2759px #fff,
    1762px 2660px #fff, 2895px 2092px #fff, 3885px 2935px #fff,
    1390px 3489px #fff, 238px 1628px #fff, 530px 772px #fff, 21px 4688px #fff,
    1200px 3761px #fff, 3461px 3180px #fff, 4683px 3872px #fff,
    893px 2098px #fff, 2026px 154px #fff, 3191px 2849px #fff, 2058px 4948px #fff,
    1911px 4078px #fff, 980px 1795px #fff, 1892px 3433px #fff,
    1107px 4516px #fff, 2401px 4800px #fff, 4652px 2576px #fff,
    3284px 2341px #fff, 1118px 4899px #fff, 1616px 3287px #fff,
    4003px 594px #fff, 302px 147px #fff, 4820px 754px #fff, 2305px 4437px #fff,
    1879px 106px #fff, 2444px 4566px #fff, 464px 46px #fff, 957px 4787px #fff,
    4199px 2622px #fff, 3973px 3109px #fff, 3602px 2401px #fff,
    363px 1103px #fff, 3147px 3743px #fff, 3859px 2512px #fff,
    3754px 2109px #fff, 2153px 1019px #fff, 2863px 2333px #fff,
    1871px 4937px #fff, 3068px 999px #fff, 2449px 4013px #fff,
    2807px 4738px #fff, 44px 730px #fff, 809px 1007px #fff, 4419px 1213px #fff,
    3690px 970px #fff, 2424px 3958px #fff, 2139px 3470px #fff, 3774px 609px #fff,
    4656px 718px #fff, 2757px 562px #fff, 3650px 3762px #fff, 75px 2764px #fff,
    4428px 4866px #fff, 4635px 2884px #fff, 2017px 4211px #fff,
    2739px 4359px #fff, 4800px 3819px #fff, 3614px 3587px #fff,
    2756px 539px #fff, 4199px 3438px #fff, 2436px 4294px #fff,
    4763px 2548px #fff, 4924px 2782px #fff, 4934px 184px #fff, 329px 1729px #fff,
    4865px 3213px #fff, 698px 444px #fff, 4682px 1068px #fff, 2005px 107px #fff,
    1905px 998px #fff, 2356px 4156px #fff, 3364px 4632px #fff, 2507px 724px #fff,
    681px 4955px #fff, 3106px 2099px #fff, 498px 4690px #fff, 112px 2616px #fff,
    1345px 2137px #fff, 1447px 3781px #fff, 4045px 1753px #fff,
    1275px 3884px #fff, 2202px 541px #fff, 183px 4524px #fff, 4923px 3692px #fff,
    791px 1388px #fff, 4834px 543px #fff, 3654px 3214px #fff, 1710px 4250px #fff,
    4110px 435px #fff, 462px 741px #fff, 1046px 2995px #fff, 3317px 3038px #fff,
    3060px 2777px #fff, 872px 883px #fff, 2440px 1377px #fff, 1280px 1953px #fff,
    4788px 4933px #fff, 1148px 1781px #fff, 4005px 1071px #fff,
    645px 2839px #fff, 4368px 2548px #fff, 3163px 987px #fff, 1616px 4169px #fff,
    2360px 3111px #fff, 1655px 4742px #fff, 4612px 1042px #fff,
    4052px 2654px #fff, 4587px 1909px #fff, 725px 4022px #fff, 80px 745px #fff,
    2907px 1697px #fff, 3608px 2534px #fff, 1487px 3661px #fff,
    985px 2299px #fff, 430px 4375px #fff, 2418px 4691px #fff, 4184px 4845px #fff,
    1963px 249px #fff, 1682px 3484px #fff, 1793px 1557px #fff,
    4195px 4112px #fff, 4966px 2829px #fff, 715px 3968px #fff,
    1310px 2978px #fff, 1137px 2532px #fff, 2701px 1876px #fff,
    279px 1737px #fff, 1722px 2644px #fff, 375px 2580px #fff, 2984px 812px #fff,
    3075px 3449px #fff, 3472px 1931px #fff, 1188px 2439px #fff,
    4712px 915px #fff, 259px 958px #fff, 1552px 2650px #fff, 3860px 544px #fff,
    1579px 45px #fff, 2772px 4282px #fff, 2727px 1284px #fff, 2784px 1977px #fff,
    1783px 4777px #fff, 2324px 1656px #fff, 3915px 3217px #fff,
    1803px 3240px #fff, 2299px 3017px #fff, 2869px 2965px #fff, 579px 253px #fff,
    1503px 866px #fff, 407px 3764px #fff, 1946px 2822px #fff, 4073px 1070px #fff,
    2264px 3175px #fff, 1341px 2407px #fff, 2147px 2207px #fff,
    3417px 2355px #fff, 3268px 2159px #fff, 3721px 223px #fff,
    3674px 2695px #fff, 1095px 2023px #fff, 3965px 4956px #fff, 178px 787px #fff,
    456px 312px #fff, 3166px 832px #fff, 1408px 1913px #fff, 3715px 2172px #fff,
    4620px 3408px #fff, 4955px 4423px #fff, 1431px 1218px #fff,
    4099px 3199px #fff, 4674px 3056px #fff, 24px 3182px #fff, 516px 613px #fff,
    3608px 2365px #fff, 2711px 4982px #fff, 2138px 2491px #fff,
    2891px 1117px #fff, 1716px 4779px #fff, 1146px 4588px #fff,
    2261px 3108px #fff, 762px 1708px #fff, 2503px 97px #fff, 4120px 2975px #fff,
    847px 3088px #fff, 3457px 1937px #fff, 1376px 4208px #fff, 2310px 463px #fff,
    4694px 4019px #fff, 2663px 3556px #fff, 853px 4977px #fff,
    3713px 4384px #fff, 3931px 1484px #fff, 2680px 3880px #fff,
    2215px 3965px #fff, 184px 2359px #fff, 130px 4994px #fff, 1541px 1926px #fff,
    3954px 540px #fff, 4692px 1439px #fff, 1235px 1005px #fff,
    3839px 4417px #fff, 263px 89px #fff, 1939px 991px #fff, 158px 723px #fff,
    4992px 2392px #fff, 3034px 4165px #fff, 2422px 3252px #fff,
    4951px 1252px #fff, 736px 4085px #fff, 78px 3789px #fff, 589px 1084px #fff,
    1972px 383px #fff, 2923px 3612px #fff, 2537px 1007px #fff, 547px 1781px #fff,
    1370px 1409px #fff, 3956px 1856px #fff, 1710px 2609px #fff,
    1074px 3308px #fff, 3369px 3501px #fff, 1327px 333px #fff,
    4656px 4322px #fff, 2441px 1804px #fff, 3193px 1984px #fff,
    2014px 389px #fff, 902px 4008px #fff, 1981px 203px #fff, 150px 1233px #fff,
    697px 2981px #fff, 138px 3302px #fff, 870px 1512px #fff, 4804px 2931px #fff,
    882px 2553px #fff, 2018px 4371px #fff, 1542px 2682px #fff,
    4042px 2857px #fff, 4157px 2108px #fff, 2960px 4460px #fff,
    2270px 4146px #fff, 712px 2084px #fff, 2585px 4643px #fff, 2974px 548px #fff,
    2775px 4132px #fff, 4520px 2023px #fff, 549px 4041px #fff,
    2214px 3107px #fff, 3060px 928px #fff, 4368px 461px #fff, 961px 831px #fff,
    1342px 2126px #fff, 2363px 3263px #fff, 1151px 2577px #fff, 84px 4011px #fff,
    2386px 2805px #fff, 1525px 244px #fff, 1792px 1432px #fff,
    4864px 4017px #fff, 4078px 3475px #fff, 1144px 716px #fff,
    4452px 2333px #fff, 3776px 498px #fff, 1302px 887px #fff, 3305px 4506px #fff,
    1091px 1894px #fff, 1971px 1994px #fff, 2464px 4160px #fff, 876px 998px #fff,
    3689px 216px #fff, 3163px 4357px #fff, 4608px 1914px #fff, 2512px 39px #fff,
    3801px 218px #fff, 3966px 4176px #fff, 4649px 32px #fff, 2710px 1494px #fff,
    2653px 2825px #fff, 952px 3333px #fff, 650px 259px #fff, 1040px 2543px #fff,
    3176px 778px #fff, 1467px 1374px #fff, 812px 3552px #fff, 771px 882px #fff,
    3685px 2440px #fff, 2122px 3296px #fff, 2772px 2569px #fff,
    1842px 3037px #fff, 1446px 1776px #fff, 2145px 3857px #fff,
    1240px 4700px #fff, 2635px 4666px #fff, 1472px 1818px #fff,
    2995px 697px #fff, 71px 92px #fff, 1753px 4267px #fff, 510px 4878px #fff,
    1426px 2848px #fff, 1450px 4927px #fff, 3484px 1970px #fff, 550px 502px #fff,
    3224px 3747px #fff, 2235px 436px #fff, 1120px 3635px #fff,
    4769px 4760px #fff, 2933px 1543px #fff, 4803px 3479px #fff,
    4383px 4462px #fff, 1942px 1628px #fff, 2517px 1467px #fff,
    1401px 3669px #fff, 193px 1743px #fff, 1072px 1982px #fff, 854px 4007px #fff,
    1955px 4237px #fff, 180px 2636px #fff, 3176px 3868px #fff,
    2708px 3652px #fff, 3918px 1117px #fff, 3253px 1681px #fff,
    4417px 3733px #fff, 288px 3040px #fff, 1911px 835px #fff, 4279px 3678px #fff,
    1972px 1778px #fff, 1625px 2776px #fff, 218px 2566px #fff, 4601px 99px #fff,
    3894px 211px #fff, 4396px 3147px #fff, 3489px 2789px #fff, 624px 16px #fff,
    1906px 3386px #fff, 11px 1718px #fff, 1686px 2129px #fff, 671px 3333px #fff,
    2750px 3028px #fff, 4340px 4489px #fff, 971px 3819px #fff, 943px 4492px #fff,
    4014px 2144px #fff, 1739px 2599px #fff, 2808px 2504px #fff, 23px 3779px #fff,
    3647px 2131px #fff, 2988px 3854px #fff, 376px 177px #fff, 1298px 4516px #fff,
    3929px 3312px #fff, 1595px 1221px #fff, 1880px 4310px #fff,
    1373px 3961px #fff, 201px 2253px #fff, 4837px 785px #fff, 772px 162px #fff,
    3500px 351px #fff, 3646px 3366px #fff, 2501px 3832px #fff,
    4758px 2367px #fff, 2038px 204px #fff, 621px 3065px #fff, 746px 229px #fff,
    2692px 2875px #fff, 4923px 3790px #fff, 3308px 1039px #fff,
    3783px 1924px #fff, 2319px 1147px #fff, 3429px 1166px #fff,
    1197px 3891px #fff, 3597px 88px #fff, 576px 3808px #fff, 872px 239px #fff,
    1173px 2174px #fff, 2009px 2629px #fff, 4124px 4758px #fff,
    4263px 297px #fff, 1540px 3421px #fff, 88px 3977px #fff, 721px 662px #fff,
    945px 418px #fff, 122px 4453px #fff, 2058px 362px #fff, 2828px 4005px #fff;
  animation: animateStars 28.5s ease-in-out infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#stars::after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 1628px 1930px #fff, 2952px 252px #fff, 3690px 218px #fff,
    906px 4826px #fff, 2142px 1363px #fff, 3955px 1106px #fff,
    3477px 2584px #fff, 1246px 976px #fff, 4443px 4765px #fff, 1354px 922px #fff,
    2066px 4655px #fff, 1042px 4387px #fff, 98px 4603px #fff, 4259px 4566px #fff,
    3186px 490px #fff, 3748px 4228px #fff, 4045px 4573px #fff,
    2920px 1915px #fff, 2959px 1375px #fff, 3089px 1349px #fff,
    2380px 2737px #fff, 3189px 4332px #fff, 4409px 799px #fff, 501px 2761px #fff,
    3386px 668px #fff, 755px 2209px #fff, 1265px 3562px #fff, 3747px 2917px #fff,
    3367px 3317px #fff, 4916px 2724px #fff, 3879px 3744px #fff,
    4715px 117px #fff, 2108px 4098px #fff, 1223px 3377px #fff, 762px 1696px #fff,
    4780px 3955px #fff, 651px 3920px #fff, 2738px 4280px #fff,
    4994px 1167px #fff, 1639px 3933px #fff, 402px 4794px #fff, 3493px 703px #fff,
    4007px 4358px #fff, 418px 4920px #fff, 454px 1844px #fff, 3210px 2166px #fff,
    3576px 1592px #fff, 2824px 690px #fff, 4800px 2220px #fff,
    2265px 2857px #fff, 4612px 884px #fff, 2673px 1504px #fff, 409px 728px #fff,
    3555px 1435px #fff, 1298px 2264px #fff, 2931px 539px #fff, 680px 2703px #fff,
    4169px 4949px #fff, 3841px 9px #fff, 2424px 4400px #fff, 1123px 3711px #fff,
    425px 3602px #fff, 97px 3041px #fff, 3165px 4754px #fff, 4741px 4361px #fff,
    3934px 3239px #fff, 3058px 994px #fff, 3463px 1332px #fff,
    1647px 2615px #fff, 2240px 1106px #fff, 2093px 1415px #fff,
    4826px 4228px #fff, 1965px 1612px #fff, 2289px 4452px #fff,
    780px 4766px #fff, 2528px 295px #fff, 2258px 1999px #fff, 246px 3005px #fff,
    187px 2825px #fff, 2638px 4136px #fff, 4767px 3229px #fff,
    4748px 3458px #fff, 676px 3742px #fff, 1862px 446px #fff, 4387px 3667px #fff,
    4796px 209px #fff, 152px 4206px #fff, 3377px 3828px #fff, 287px 2627px #fff,
    1534px 4618px #fff, 3810px 115px #fff, 1642px 3744px #fff,
    1207px 1517px #fff, 2334px 695px #fff, 4141px 2362px #fff,
    2939px 1906px #fff, 1366px 644px #fff, 373px 4034px #fff, 1689px 3212px #fff,
    4996px 2728px #fff, 4073px 2847px #fff, 3646px 2872px #fff,
    2569px 1034px #fff, 3471px 2918px #fff, 3272px 4994px #fff,
    3727px 2337px #fff, 1448px 2405px #fff, 2997px 1764px #fff, 747px 893px #fff,
    1726px 3080px #fff, 256px 996px #fff, 2510px 3328px #fff, 3470px 3813px #fff,
    1322px 1076px #fff, 3082px 3151px #fff, 4720px 4406px #fff,
    4813px 2421px #fff, 511px 1595px #fff, 3420px 3993px #fff,
    2299px 2555px #fff, 801px 615px #fff, 4157px 305px #fff, 4618px 1670px #fff,
    1955px 301px #fff, 2371px 3838px #fff, 2437px 1676px #fff, 2854px 545px #fff,
    2745px 4819px #fff, 4358px 4667px #fff, 395px 4389px #fff,
    4198px 3125px #fff, 421px 458px #fff, 1154px 2929px #fff, 2908px 858px #fff,
    4100px 1219px #fff, 4774px 3041px #fff, 1192px 1588px #fff,
    2245px 4749px #fff, 3042px 343px #fff, 4953px 174px #fff, 1412px 4899px #fff,
    2397px 2278px #fff, 4069px 3049px #fff, 3162px 906px #fff, 647px 1961px #fff,
    3147px 935px #fff, 2582px 1691px #fff, 1556px 2055px #fff,
    3321px 2574px #fff, 370px 3128px #fff, 839px 2955px #fff, 2706px 777px #fff,
    1778px 15px #fff, 956px 2210px #fff, 88px 2104px #fff, 3242px 3507px #fff,
    219px 3706px #fff, 2093px 4567px #fff, 4907px 1567px #fff,
    1606px 3172px #fff, 4224px 1102px #fff, 2501px 4764px #fff,
    4525px 4078px #fff, 916px 1623px #fff, 2946px 89px #fff, 1959px 4400px #fff,
    2490px 2574px #fff, 2556px 2765px #fff, 2389px 2272px #fff,
    4464px 1207px #fff, 4098px 3406px #fff, 4574px 1814px #fff,
    3887px 3418px #fff, 3425px 4610px #fff, 669px 423px #fff, 3743px 3374px #fff,
    450px 4846px #fff, 4921px 3935px #fff, 3535px 3104px #fff, 912px 4064px #fff,
    3674px 4574px #fff, 4102px 3869px #fff, 4028px 4772px #fff,
    4935px 2356px #fff, 3819px 3549px #fff, 4117px 696px #fff, 798px 4939px #fff,
    252px 4805px #fff, 3412px 2559px #fff, 4638px 1725px #fff,
    3313px 3742px #fff, 4884px 4845px #fff, 1825px 1986px #fff,
    2525px 4191px #fff, 2276px 3653px #fff, 1250px 137px #fff,
    1975px 3169px #fff, 917px 3518px #fff, 3013px 2745px #fff, 2357px 829px #fff,
    3249px 537px #fff, 1389px 3477px #fff, 2037px 442px #fff, 4760px 1468px #fff,
    4868px 1382px #fff, 3129px 3484px #fff, 4720px 3000px #fff,
    1855px 2864px #fff, 154px 3205px #fff, 1676px 289px #fff, 4840px 3699px #fff,
    720px 1522px #fff, 2590px 4147px #fff, 3285px 342px #fff, 4991px 2923px #fff,
    4308px 2628px #fff, 3278px 4463px #fff, 3779px 4946px #fff,
    1363px 136px #fff, 2118px 3432px #fff, 2393px 86px #fff, 4190px 312px #fff,
    2973px 2806px #fff, 2618px 1584px #fff, 2069px 1546px #fff,
    2104px 4820px #fff, 4391px 2276px #fff, 1375px 472px #fff, 4379px 112px #fff,
    1344px 2394px #fff, 1644px 2215px #fff, 430px 722px #fff, 1060px 1619px #fff,
    3823px 1976px #fff, 299px 4159px #fff, 4426px 2713px #fff,
    1675px 1375px #fff, 4430px 1626px #fff, 3542px 1863px #fff,
    1653px 2691px #fff, 4289px 3901px #fff, 4600px 4789px #fff,
    1383px 1615px #fff, 3627px 2685px #fff, 557px 4587px #fff,
    3403px 3419px #fff, 2162px 4366px #fff, 4086px 615px #fff, 711px 1436px #fff,
    3985px 1910px #fff, 1759px 4115px #fff, 4348px 4704px #fff,
    3363px 4176px #fff, 4913px 1515px #fff, 4813px 3570px #fff,
    4961px 3936px #fff, 1280px 4597px #fff, 2779px 1691px #fff,
    3305px 1828px #fff, 2530px 1562px #fff, 36px 382px #fff, 3388px 260px #fff,
    4842px 4678px #fff, 3828px 3079px #fff, 23px 3070px #fff, 1809px 593px #fff,
    4596px 191px #fff, 4726px 11px #fff, 2853px 4209px #fff, 3993px 2110px #fff,
    3755px 1354px #fff, 3322px 4903px #fff, 3215px 1223px #fff, 4038px 92px #fff,
    327px 918px #fff, 428px 1265px #fff, 4577px 2742px #fff, 906px 1508px #fff,
    2584px 4624px #fff, 3876px 4937px #fff, 1175px 3508px #fff,
    3204px 2162px #fff, 3691px 2696px #fff, 4506px 3778px #fff,
    1871px 322px #fff, 3598px 754px #fff, 3850px 3175px #fff, 2228px 3986px #fff,
    2108px 52px #fff, 4440px 254px #fff, 4834px 1526px #fff, 1304px 3306px #fff,
    3754px 1494px #fff, 4806px 1013px #fff, 3912px 1620px #fff,
    4374px 1185px #fff, 4587px 3374px #fff, 3666px 226px #fff, 147px 1707px #fff,
    1948px 4478px #fff, 4229px 4694px #fff, 523px 3321px #fff,
    3647px 4476px #fff, 1829px 2371px #fff, 480px 3733px #fff, 571px 4859px #fff,
    4811px 4511px #fff, 723px 2927px #fff, 1619px 4575px #fff,
    2981px 4314px #fff, 2046px 2542px #fff, 2859px 474px #fff,
    3198px 1982px #fff, 3788px 387px #fff, 1621px 2759px #fff,
    1762px 2660px #fff, 2895px 2092px #fff, 3885px 2935px #fff,
    1390px 3489px #fff, 238px 1628px #fff, 530px 772px #fff, 21px 4688px #fff,
    1200px 3761px #fff, 3461px 3180px #fff, 4683px 3872px #fff,
    893px 2098px #fff, 2026px 154px #fff, 3191px 2849px #fff, 2058px 4948px #fff,
    1911px 4078px #fff, 980px 1795px #fff, 1892px 3433px #fff,
    1107px 4516px #fff, 2401px 4800px #fff, 4652px 2576px #fff,
    3284px 2341px #fff, 1118px 4899px #fff, 1616px 3287px #fff,
    4003px 594px #fff, 302px 147px #fff, 4820px 754px #fff, 2305px 4437px #fff,
    1879px 106px #fff, 2444px 4566px #fff, 464px 46px #fff, 957px 4787px #fff,
    4199px 2622px #fff, 3973px 3109px #fff, 3602px 2401px #fff,
    363px 1103px #fff, 3147px 3743px #fff, 3859px 2512px #fff,
    3754px 2109px #fff, 2153px 1019px #fff, 2863px 2333px #fff,
    1871px 4937px #fff, 3068px 999px #fff, 2449px 4013px #fff,
    2807px 4738px #fff, 44px 730px #fff, 809px 1007px #fff, 4419px 1213px #fff,
    3690px 970px #fff, 2424px 3958px #fff, 2139px 3470px #fff, 3774px 609px #fff,
    4656px 718px #fff, 2757px 562px #fff, 3650px 3762px #fff, 75px 2764px #fff,
    4428px 4866px #fff, 4635px 2884px #fff, 2017px 4211px #fff,
    2739px 4359px #fff, 4800px 3819px #fff, 3614px 3587px #fff,
    2756px 539px #fff, 4199px 3438px #fff, 2436px 4294px #fff,
    4763px 2548px #fff, 4924px 2782px #fff, 4934px 184px #fff, 329px 1729px #fff,
    4865px 3213px #fff, 698px 444px #fff, 4682px 1068px #fff, 2005px 107px #fff,
    1905px 998px #fff, 2356px 4156px #fff, 3364px 4632px #fff, 2507px 724px #fff,
    681px 4955px #fff, 3106px 2099px #fff, 498px 4690px #fff, 112px 2616px #fff,
    1345px 2137px #fff, 1447px 3781px #fff, 4045px 1753px #fff,
    1275px 3884px #fff, 2202px 541px #fff, 183px 4524px #fff, 4923px 3692px #fff,
    791px 1388px #fff, 4834px 543px #fff, 3654px 3214px #fff, 1710px 4250px #fff,
    4110px 435px #fff, 462px 741px #fff, 1046px 2995px #fff, 3317px 3038px #fff,
    3060px 2777px #fff, 872px 883px #fff, 2440px 1377px #fff, 1280px 1953px #fff,
    4788px 4933px #fff, 1148px 1781px #fff, 4005px 1071px #fff,
    645px 2839px #fff, 4368px 2548px #fff, 3163px 987px #fff, 1616px 4169px #fff,
    2360px 3111px #fff, 1655px 4742px #fff, 4612px 1042px #fff,
    4052px 2654px #fff, 4587px 1909px #fff, 725px 4022px #fff, 80px 745px #fff,
    2907px 1697px #fff, 3608px 2534px #fff, 1487px 3661px #fff,
    985px 2299px #fff, 430px 4375px #fff, 2418px 4691px #fff, 4184px 4845px #fff,
    1963px 249px #fff, 1682px 3484px #fff, 1793px 1557px #fff,
    4195px 4112px #fff, 4966px 2829px #fff, 715px 3968px #fff,
    1310px 2978px #fff, 1137px 2532px #fff, 2701px 1876px #fff,
    279px 1737px #fff, 1722px 2644px #fff, 375px 2580px #fff, 2984px 812px #fff,
    3075px 3449px #fff, 3472px 1931px #fff, 1188px 2439px #fff,
    4712px 915px #fff, 259px 958px #fff, 1552px 2650px #fff, 3860px 544px #fff,
    1579px 45px #fff, 2772px 4282px #fff, 2727px 1284px #fff, 2784px 1977px #fff,
    1783px 4777px #fff, 2324px 1656px #fff, 3915px 3217px #fff,
    1803px 3240px #fff, 2299px 3017px #fff, 2869px 2965px #fff, 579px 253px #fff,
    1503px 866px #fff, 407px 3764px #fff, 1946px 2822px #fff, 4073px 1070px #fff,
    2264px 3175px #fff, 1341px 2407px #fff, 2147px 2207px #fff,
    3417px 2355px #fff, 3268px 2159px #fff, 3721px 223px #fff,
    3674px 2695px #fff, 1095px 2023px #fff, 3965px 4956px #fff, 178px 787px #fff,
    456px 312px #fff, 3166px 832px #fff, 1408px 1913px #fff, 3715px 2172px #fff,
    4620px 3408px #fff, 4955px 4423px #fff, 1431px 1218px #fff,
    4099px 3199px #fff, 4674px 3056px #fff, 24px 3182px #fff, 516px 613px #fff,
    3608px 2365px #fff, 2711px 4982px #fff, 2138px 2491px #fff,
    2891px 1117px #fff, 1716px 4779px #fff, 1146px 4588px #fff,
    2261px 3108px #fff, 762px 1708px #fff, 2503px 97px #fff, 4120px 2975px #fff,
    847px 3088px #fff, 3457px 1937px #fff, 1376px 4208px #fff, 2310px 463px #fff,
    4694px 4019px #fff, 2663px 3556px #fff, 853px 4977px #fff,
    3713px 4384px #fff, 3931px 1484px #fff, 2680px 3880px #fff,
    2215px 3965px #fff, 184px 2359px #fff, 130px 4994px #fff, 1541px 1926px #fff,
    3954px 540px #fff, 4692px 1439px #fff, 1235px 1005px #fff,
    3839px 4417px #fff, 263px 89px #fff, 1939px 991px #fff, 158px 723px #fff,
    4992px 2392px #fff, 3034px 4165px #fff, 2422px 3252px #fff,
    4951px 1252px #fff, 736px 4085px #fff, 78px 3789px #fff, 589px 1084px #fff,
    1972px 383px #fff, 2923px 3612px #fff, 2537px 1007px #fff, 547px 1781px #fff,
    1370px 1409px #fff, 3956px 1856px #fff, 1710px 2609px #fff,
    1074px 3308px #fff, 3369px 3501px #fff, 1327px 333px #fff,
    4656px 4322px #fff, 2441px 1804px #fff, 3193px 1984px #fff,
    2014px 389px #fff, 902px 4008px #fff, 1981px 203px #fff, 150px 1233px #fff,
    697px 2981px #fff, 138px 3302px #fff, 870px 1512px #fff, 4804px 2931px #fff,
    882px 2553px #fff, 2018px 4371px #fff, 1542px 2682px #fff,
    4042px 2857px #fff, 4157px 2108px #fff, 2960px 4460px #fff,
    2270px 4146px #fff, 712px 2084px #fff, 2585px 4643px #fff, 2974px 548px #fff,
    2775px 4132px #fff, 4520px 2023px #fff, 549px 4041px #fff,
    2214px 3107px #fff, 3060px 928px #fff, 4368px 461px #fff, 961px 831px #fff,
    1342px 2126px #fff, 2363px 3263px #fff, 1151px 2577px #fff, 84px 4011px #fff,
    2386px 2805px #fff, 1525px 244px #fff, 1792px 1432px #fff,
    4864px 4017px #fff, 4078px 3475px #fff, 1144px 716px #fff,
    4452px 2333px #fff, 3776px 498px #fff, 1302px 887px #fff, 3305px 4506px #fff,
    1091px 1894px #fff, 1971px 1994px #fff, 2464px 4160px #fff, 876px 998px #fff,
    3689px 216px #fff, 3163px 4357px #fff, 4608px 1914px #fff, 2512px 39px #fff,
    3801px 218px #fff, 3966px 4176px #fff, 4649px 32px #fff, 2710px 1494px #fff,
    2653px 2825px #fff, 952px 3333px #fff, 650px 259px #fff, 1040px 2543px #fff,
    3176px 778px #fff, 1467px 1374px #fff, 812px 3552px #fff, 771px 882px #fff,
    3685px 2440px #fff, 2122px 3296px #fff, 2772px 2569px #fff,
    1842px 3037px #fff, 1446px 1776px #fff, 2145px 3857px #fff,
    1240px 4700px #fff, 2635px 4666px #fff, 1472px 1818px #fff,
    2995px 697px #fff, 71px 92px #fff, 1753px 4267px #fff, 510px 4878px #fff,
    1426px 2848px #fff, 1450px 4927px #fff, 3484px 1970px #fff, 550px 502px #fff,
    3224px 3747px #fff, 2235px 436px #fff, 1120px 3635px #fff,
    4769px 4760px #fff, 2933px 1543px #fff, 4803px 3479px #fff,
    4383px 4462px #fff, 1942px 1628px #fff, 2517px 1467px #fff,
    1401px 3669px #fff, 193px 1743px #fff, 1072px 1982px #fff, 854px 4007px #fff,
    1955px 4237px #fff, 180px 2636px #fff, 3176px 3868px #fff,
    2708px 3652px #fff, 3918px 1117px #fff, 3253px 1681px #fff,
    4417px 3733px #fff, 288px 3040px #fff, 1911px 835px #fff, 4279px 3678px #fff,
    1972px 1778px #fff, 1625px 2776px #fff, 218px 2566px #fff, 4601px 99px #fff,
    3894px 211px #fff, 4396px 3147px #fff, 3489px 2789px #fff, 624px 16px #fff,
    1906px 3386px #fff, 11px 1718px #fff, 1686px 2129px #fff, 671px 3333px #fff,
    2750px 3028px #fff, 4340px 4489px #fff, 971px 3819px #fff, 943px 4492px #fff,
    4014px 2144px #fff, 1739px 2599px #fff, 2808px 2504px #fff, 23px 3779px #fff,
    3647px 2131px #fff, 2988px 3854px #fff, 376px 177px #fff, 1298px 4516px #fff,
    3929px 3312px #fff, 1595px 1221px #fff, 1880px 4310px #fff,
    1373px 3961px #fff, 201px 2253px #fff, 4837px 785px #fff, 772px 162px #fff,
    3500px 351px #fff, 3646px 3366px #fff, 2501px 3832px #fff,
    4758px 2367px #fff, 2038px 204px #fff, 621px 3065px #fff, 746px 229px #fff,
    2692px 2875px #fff, 4923px 3790px #fff, 3308px 1039px #fff,
    3783px 1924px #fff, 2319px 1147px #fff, 3429px 1166px #fff,
    1197px 3891px #fff, 3597px 88px #fff, 576px 3808px #fff, 872px 239px #fff,
    1173px 2174px #fff, 2009px 2629px #fff, 4124px 4758px #fff,
    4263px 297px #fff, 1540px 3421px #fff, 88px 3977px #fff, 721px 662px #fff,
    945px 418px #fff, 122px 4453px #fff, 2058px 362px #fff, 2828px 4005px #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 0 363px 4189px #fff, 4491px 3955px #fff, 1192px 948px #fff,
    762px 4465px #fff, 3529px 1565px #fff, 289px 4078px #fff, 3371px 2024px #fff,
    3797px 4072px #fff, 4802px 2481px #fff, 3950px 3995px #fff,
    2430px 4433px #fff, 1957px 3956px #fff, 1193px 4666px #fff,
    2513px 2110px #fff, 1791px 2922px #fff, 3334px 1119px #fff,
    2899px 4319px #fff, 3506px 1298px #fff, 1913px 3517px #fff,
    3502px 3038px #fff, 2476px 1623px #fff, 4015px 4398px #fff,
    4828px 1552px #fff, 3867px 3369px #fff, 2007px 1388px #fff,
    335px 2290px #fff, 4073px 922px #fff, 4094px 2645px #fff, 2267px 3015px #fff,
    3027px 4656px #fff, 3429px 222px #fff, 3544px 2430px #fff,
    3970px 4529px #fff, 3442px 2093px #fff, 175px 2214px #fff, 68px 4771px #fff,
    4041px 469px #fff, 104px 1908px #fff, 4215px 2913px #fff, 3229px 4490px #fff,
    3443px 3096px #fff, 2941px 692px #fff, 4067px 2649px #fff, 4887px 687px #fff,
    1743px 4847px #fff, 765px 4434px #fff, 3656px 2021px #fff,
    4995px 1606px #fff, 4431px 3097px #fff, 1111px 4604px #fff,
    915px 4910px #fff, 1240px 2603px #fff, 3242px 3279px #fff,
    2913px 2386px #fff, 951px 3604px #fff, 2703px 928px #fff, 2060px 1354px #fff,
    971px 2932px #fff, 1239px 3754px #fff, 2487px 2100px #fff,
    4047px 3590px #fff, 3688px 1807px #fff, 2722px 2467px #fff, 87px 2082px #fff,
    2256px 4001px #fff, 2075px 4819px #fff, 3918px 4337px #fff,
    3627px 4352px #fff, 4382px 4241px #fff, 975px 1547px #fff,
    1562px 3401px #fff, 3985px 4308px #fff, 4248px 485px #fff, 2377px 193px #fff,
    2736px 4711px #fff, 1568px 4079px #fff, 3771px 1279px #fff,
    1156px 4247px #fff, 2292px 4869px #fff, 805px 1331px #fff, 4630px 725px #fff,
    1712px 94px #fff, 2641px 452px #fff, 4596px 3750px #fff, 2166px 1039px #fff,
    593px 4936px #fff, 2605px 3035px #fff, 4917px 2598px #fff,
    2177px 1704px #fff, 590px 3631px #fff, 430px 455px #fff, 2186px 1092px #fff,
    1435px 2272px #fff, 3946px 1852px #fff, 3140px 3557px #fff,
    3898px 4442px #fff, 154px 3905px #fff, 3540px 123px #fff, 2516px 3776px #fff,
    1459px 1145px #fff, 1775px 112px #fff, 122px 26px #fff, 4963px 3856px #fff,
    4840px 140px #fff, 1539px 3635px #fff, 99px 4573px #fff, 3175px 2594px #fff,
    712px 224px #fff, 428px 4929px #fff, 2589px 1651px #fff, 3534px 4640px #fff,
    4917px 3940px #fff, 3405px 123px #fff, 3460px 3623px #fff,
    2286px 1789px #fff, 3715px 1258px #fff, 3565px 3969px #fff,
    3834px 4170px #fff, 2053px 3385px #fff, 4009px 4650px #fff,
    4700px 1835px #fff, 282px 889px #fff, 4061px 3584px #fff, 4143px 4835px #fff,
    2896px 3898px #fff, 4598px 810px #fff, 2040px 2323px #fff,
    3956px 1452px #fff, 4272px 4791px #fff, 3575px 2861px #fff,
    291px 1875px #fff, 205px 1768px #fff, 2006px 3104px #fff, 1841px 4026px #fff,
    3919px 3549px #fff, 3020px 148px #fff, 4619px 3813px #fff,
    1631px 1154px #fff, 3340px 3283px #fff, 3836px 2334px #fff,
    1048px 4056px #fff, 4350px 862px #fff, 4163px 2638px #fff, 497px 3849px #fff,
    13px 3652px #fff, 620px 2905px #fff, 2544px 4905px #fff, 1997px 489px #fff,
    520px 365px #fff, 1789px 3575px #fff, 804px 2567px #fff, 1029px 2363px #fff,
    3404px 2656px #fff, 4120px 3608px #fff, 2609px 3860px #fff,
    3756px 4314px #fff, 3789px 485px #fff, 3839px 4453px #fff, 2099px 312px #fff,
    3846px 946px #fff, 1643px 1589px #fff, 668px 3364px #fff, 1583px 2192px #fff,
    3947px 2358px #fff, 1965px 4522px #fff, 336px 1043px #fff,
    4698px 3046px #fff, 340px 482px #fff, 3236px 3520px #fff, 3069px 3083px #fff,
    4203px 4842px #fff, 1901px 4696px #fff, 3449px 365px #fff, 2292px 803px #fff,
    3090px 4521px #fff, 1407px 3057px #fff, 969px 2876px #fff,
    2043px 4922px #fff, 4552px 3413px #fff, 3026px 1482px #fff,
    139px 4406px #fff, 4470px 3447px #fff, 2456px 2718px #fff, 723px 2779px #fff,
    2706px 1216px #fff, 1619px 3697px #fff, 980px 4907px #fff, 120px 908px #fff,
    4863px 850px #fff, 4609px 2068px #fff, 482px 3464px #fff, 106px 909px #fff,
    961px 4843px #fff, 4260px 1025px #fff, 3974px 1890px #fff,
    4960px 1333px #fff, 3304px 346px #fff, 2721px 1474px #fff,
    4581px 4601px #fff, 4053px 4433px #fff;
  animation: animateStars 30s ease-in-out infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#stars2::after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 0 363px 4189px #fff, 4491px 3955px #fff, 1192px 948px #fff,
    762px 4465px #fff, 3529px 1565px #fff, 289px 4078px #fff, 3371px 2024px #fff,
    3797px 4072px #fff, 4802px 2481px #fff, 3950px 3995px #fff,
    2430px 4433px #fff, 1957px 3956px #fff, 1193px 4666px #fff,
    2513px 2110px #fff, 1791px 2922px #fff, 3334px 1119px #fff,
    2899px 4319px #fff, 3506px 1298px #fff, 1913px 3517px #fff,
    3502px 3038px #fff, 2476px 1623px #fff, 4015px 4398px #fff,
    4828px 1552px #fff, 3867px 3369px #fff, 2007px 1388px #fff,
    335px 2290px #fff, 4073px 922px #fff, 4094px 2645px #fff, 2267px 3015px #fff,
    3027px 4656px #fff, 3429px 222px #fff, 3544px 2430px #fff,
    3970px 4529px #fff, 3442px 2093px #fff, 175px 2214px #fff, 68px 4771px #fff,
    4041px 469px #fff, 104px 1908px #fff, 4215px 2913px #fff, 3229px 4490px #fff,
    3443px 3096px #fff, 2941px 692px #fff, 4067px 2649px #fff, 4887px 687px #fff,
    1743px 4847px #fff, 765px 4434px #fff, 3656px 2021px #fff,
    4995px 1606px #fff, 4431px 3097px #fff, 1111px 4604px #fff,
    915px 4910px #fff, 1240px 2603px #fff, 3242px 3279px #fff,
    2913px 2386px #fff, 951px 3604px #fff, 2703px 928px #fff, 2060px 1354px #fff,
    971px 2932px #fff, 1239px 3754px #fff, 2487px 2100px #fff,
    4047px 3590px #fff, 3688px 1807px #fff, 2722px 2467px #fff, 87px 2082px #fff,
    2256px 4001px #fff, 2075px 4819px #fff, 3918px 4337px #fff,
    3627px 4352px #fff, 4382px 4241px #fff, 975px 1547px #fff,
    1562px 3401px #fff, 3985px 4308px #fff, 4248px 485px #fff, 2377px 193px #fff,
    2736px 4711px #fff, 1568px 4079px #fff, 3771px 1279px #fff,
    1156px 4247px #fff, 2292px 4869px #fff, 805px 1331px #fff, 4630px 725px #fff,
    1712px 94px #fff, 2641px 452px #fff, 4596px 3750px #fff, 2166px 1039px #fff,
    593px 4936px #fff, 2605px 3035px #fff, 4917px 2598px #fff,
    2177px 1704px #fff, 590px 3631px #fff, 430px 455px #fff, 2186px 1092px #fff,
    1435px 2272px #fff, 3946px 1852px #fff, 3140px 3557px #fff,
    3898px 4442px #fff, 154px 3905px #fff, 3540px 123px #fff, 2516px 3776px #fff,
    1459px 1145px #fff, 1775px 112px #fff, 122px 26px #fff, 4963px 3856px #fff,
    4840px 140px #fff, 1539px 3635px #fff, 99px 4573px #fff, 3175px 2594px #fff,
    712px 224px #fff, 428px 4929px #fff, 2589px 1651px #fff, 3534px 4640px #fff,
    4917px 3940px #fff, 3405px 123px #fff, 3460px 3623px #fff,
    2286px 1789px #fff, 3715px 1258px #fff, 3565px 3969px #fff,
    3834px 4170px #fff, 2053px 3385px #fff, 4009px 4650px #fff,
    4700px 1835px #fff, 282px 889px #fff, 4061px 3584px #fff, 4143px 4835px #fff,
    2896px 3898px #fff, 4598px 810px #fff, 2040px 2323px #fff,
    3956px 1452px #fff, 4272px 4791px #fff, 3575px 2861px #fff,
    291px 1875px #fff, 205px 1768px #fff, 2006px 3104px #fff, 1841px 4026px #fff,
    3919px 3549px #fff, 3020px 148px #fff, 4619px 3813px #fff,
    1631px 1154px #fff, 3340px 3283px #fff, 3836px 2334px #fff,
    1048px 4056px #fff, 4350px 862px #fff, 4163px 2638px #fff, 497px 3849px #fff,
    13px 3652px #fff, 620px 2905px #fff, 2544px 4905px #fff, 1997px 489px #fff,
    520px 365px #fff, 1789px 3575px #fff, 804px 2567px #fff, 1029px 2363px #fff,
    3404px 2656px #fff, 4120px 3608px #fff, 2609px 3860px #fff,
    3756px 4314px #fff, 3789px 485px #fff, 3839px 4453px #fff, 2099px 312px #fff,
    3846px 946px #fff, 1643px 1589px #fff, 668px 3364px #fff, 1583px 2192px #fff,
    3947px 2358px #fff, 1965px 4522px #fff, 336px 1043px #fff,
    4698px 3046px #fff, 340px 482px #fff, 3236px 3520px #fff, 3069px 3083px #fff,
    4203px 4842px #fff, 1901px 4696px #fff, 3449px 365px #fff, 2292px 803px #fff,
    3090px 4521px #fff, 1407px 3057px #fff, 969px 2876px #fff,
    2043px 4922px #fff, 4552px 3413px #fff, 3026px 1482px #fff,
    139px 4406px #fff, 4470px 3447px #fff, 2456px 2718px #fff, 723px 2779px #fff,
    2706px 1216px #fff, 1619px 3697px #fff, 980px 4907px #fff, 120px 908px #fff,
    4863px 850px #fff, 4609px 2068px #fff, 482px 3464px #fff, 106px 909px #fff,
    961px 4843px #fff, 4260px 1025px #fff, 3974px 1890px #fff,
    4960px 1333px #fff, 3304px 346px #fff, 2721px 1474px #fff,
    4581px 4601px #fff, 4053px 4433px #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stars3 {
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow: 0 2057px 4139px #fff, 2195px 2870px #fff, 4671px 1519px #fff,
    3557px 2698px #fff, 1298px 2741px #fff, 4906px 1264px #fff,
    4071px 810px #fff, 4372px 3307px #fff, 3445px 4646px #fff,
    2792px 1936px #fff, 1337px 1618px #fff, 697px 915px #fff, 4846px 1615px #fff,
    3104px 3646px #fff, 4545px 86px #fff, 1504px 3517px #fff, 2205px 2116px #fff,
    2114px 414px #fff, 1013px 2404px #fff, 4344px 1839px #fff,
    4153px 4448px #fff, 2868px 1174px #fff, 3785px 1200px #fff,
    4015px 879px #fff, 3716px 3684px #fff, 977px 2892px #fff, 1999px 1600px #fff,
    2991px 1830px #fff, 3797px 18px #fff, 3539px 4108px #fff, 866px 578px #fff,
    1022px 4487px #fff, 3282px 2636px #fff, 633px 2819px #fff,
    4742px 2206px #fff, 585px 4754px #fff, 4560px 4894px #fff, 90px 2320px #fff,
    2343px 4538px #fff, 3227px 3529px #fff, 3093px 930px #fff, 1264px 489px #fff,
    1209px 2536px #fff, 2157px 1042px #fff, 2926px 4905px #fff,
    3633px 2077px #fff, 4463px 145px #fff, 4064px 3100px #fff, 48px 1659px #fff,
    1499px 3091px #fff, 4434px 477px #fff, 3959px 4316px #fff,
    2066px 4777px #fff, 839px 1009px #fff, 4010px 3626px #fff,
    4448px 4021px #fff, 249px 154px #fff, 3704px 986px #fff, 4521px 737px #fff,
    874px 3035px #fff, 3841px 4585px #fff, 3366px 2761px #fff, 685px 4406px #fff,
    423px 2025px #fff, 1638px 1789px #fff, 2126px 398px #fff, 2297px 2746px #fff,
    309px 4766px #fff, 1450px 4655px #fff, 3170px 163px #fff, 2183px 1505px #fff,
    2192px 3801px #fff, 4135px 796px #fff, 4776px 1155px #fff,
    4376px 4789px #fff, 436px 1398px #fff, 1129px 4797px #fff,
    1406px 3651px #fff, 2754px 4732px #fff, 1729px 1950px #fff,
    2731px 869px #fff, 2161px 2619px #fff, 3123px 1540px #fff,
    3460px 4484px #fff, 1859px 1654px #fff, 1451px 4590px #fff,
    729px 2485px #fff, 893px 74px #fff, 3920px 574px #fff, 3341px 2405px #fff,
    374px 4350px #fff, 1311px 1211px #fff, 1094px 2222px #fff,
    1437px 4965px #fff, 652px 3120px #fff, 3405px 4891px #fff,
    3794px 4918px #fff, 4137px 231px #fff, 4600px 909px #fff, 2581px 88px #fff;
  animation: animateStars 31.5s ease-in-out infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#stars3:after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow: 0 2057px 4139px #fff, 2195px 2870px #fff, 4671px 1519px #fff,
    3557px 2698px #fff, 1298px 2741px #fff, 4906px 1264px #fff,
    4071px 810px #fff, 4372px 3307px #fff, 3445px 4646px #fff,
    2792px 1936px #fff, 1337px 1618px #fff, 697px 915px #fff, 4846px 1615px #fff,
    3104px 3646px #fff, 4545px 86px #fff, 1504px 3517px #fff, 2205px 2116px #fff,
    2114px 414px #fff, 1013px 2404px #fff, 4344px 1839px #fff,
    4153px 4448px #fff, 2868px 1174px #fff, 3785px 1200px #fff,
    4015px 879px #fff, 3716px 3684px #fff, 977px 2892px #fff, 1999px 1600px #fff,
    2991px 1830px #fff, 3797px 18px #fff, 3539px 4108px #fff, 866px 578px #fff,
    1022px 4487px #fff, 3282px 2636px #fff, 633px 2819px #fff,
    4742px 2206px #fff, 585px 4754px #fff, 4560px 4894px #fff, 90px 2320px #fff,
    2343px 4538px #fff, 3227px 3529px #fff, 3093px 930px #fff, 1264px 489px #fff,
    1209px 2536px #fff, 2157px 1042px #fff, 2926px 4905px #fff,
    3633px 2077px #fff, 4463px 145px #fff, 4064px 3100px #fff, 48px 1659px #fff,
    1499px 3091px #fff, 4434px 477px #fff, 3959px 4316px #fff,
    2066px 4777px #fff, 839px 1009px #fff, 4010px 3626px #fff,
    4448px 4021px #fff, 249px 154px #fff, 3704px 986px #fff, 4521px 737px #fff,
    874px 3035px #fff, 3841px 4585px #fff, 3366px 2761px #fff, 685px 4406px #fff,
    423px 2025px #fff, 1638px 1789px #fff, 2126px 398px #fff, 2297px 2746px #fff,
    309px 4766px #fff, 1450px 4655px #fff, 3170px 163px #fff, 2183px 1505px #fff,
    2192px 3801px #fff, 4135px 796px #fff, 4776px 1155px #fff,
    4376px 4789px #fff, 436px 1398px #fff, 1129px 4797px #fff,
    1406px 3651px #fff, 2754px 4732px #fff, 1729px 1950px #fff,
    2731px 869px #fff, 2161px 2619px #fff, 3123px 1540px #fff,
    3460px 4484px #fff, 1859px 1654px #fff, 1451px 4590px #fff,
    729px 2485px #fff, 893px 74px #fff, 3920px 574px #fff, 3341px 2405px #fff,
    374px 4350px #fff, 1311px 1211px #fff, 1094px 2222px #fff,
    1437px 4965px #fff, 652px 3120px #fff, 3405px 4891px #fff,
    3794px 4918px #fff, 4137px 231px #fff, 4600px 909px #fff, 2581px 88px #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@keyframes animateStars {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(-1, 1, 0, 30deg);
    -ms-transform: rotate3d(-1, 1, 0, 30deg);
    -o-transform: rotate3d(-1, 1, 0, 30deg);
    transform: rotate3d(-1, 1, 0, 30deg);
  }
  50% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  75% {
    -webkit-transform: rotate3d(-1, 1, 0, -30deg);
    -ms-transform: rotate3d(-1, 1, 0, -30deg);
    -o-transform: rotate3d(-1, 1, 0, -30deg);
    transform: rotate3d(-1, 1, 0, -30deg);
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
}
